.unsplash-gallery {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 80vh;
  &--form {
  	display: 1 0 0;
  }

  &--wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    figure {
			flex: 33.3333% 0 0;
			height: 200px;
			margin: 0;
			position: relative;
			overflow: hidden;
      cursor: pointer;
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
    }
  }
}
