.unsplash-gallery {
  background-color: white;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  &--form {
  	// flex: 1 0 0;
  }

  &--toolbar {
		background: white;
		padding: 20px 20px;
		border-top: solid black 2px;
  }

  &--wrapper {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    .gallery-wrap {
    	display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
			figure {
				flex: 33.3333% 0 0;
		    // border: solid white 1px;
		    box-sizing: border-box;
				height: 230px;
				margin: 0;
				position: relative;
				overflow: hidden;
	      cursor: pointer;
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
	    }
    }
  }
}
