@import 'unsplash-gallery';

html,body {
  overflow-x: hidden;
}

body {
  padding-bottom: 250px;
  font-family: 'Roboto Slab';
  color: #333;
  font-weight: 300;
  font-size: 18px;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: #9197a3;
}

[contenteditable=true] {
	outline: none;
	white-space: pre-wrap;
	word-wrap: break-word;
  cursor: text;
}

.remove-btn {
	position: absolute;
	right: -5px;
	top: -5px;
	border: none;
	width: 20px;
	height: 20px;
  font-size: 10px;
	line-height: 10px;
	border-radius: 50%;
	color: white;
	background-color: black;
	z-index: 2;
	opacity: .3;
	&:hover, :focus {
		opacity: 1;
	}
}

.container {
	width: 700px;
	margin: 0 auto;
}

.input-link {
  width: 100%;
  border: none;
  font-size: 1.2rem;
  outline: none;
}

.text-center {
	text-align: center;
  width: 100%;
  margin-top: 15px;
}

.btn-group {
	button {
    border: none;
    border-radius: 50px;
    margin: 0 3px;
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1rem;
    color: white;
    background: #55acee;
    margin-bottom: 15px;
    outline: none;
	}
}

.relative {
	position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}

pre {
  white-space: normal;
}

.RichEditor-root {
  background: #fff;
  // border: 1px solid #ddd;
  font-size: 14px;
  // padding: 15px;
  margin-bottom: 20px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 1.1rem;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root {
  color: #9197a3;
  position: absolute;
  z-index: 0;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  // min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .public-DraftStyleDefault-block {
  margin: 0 0 1rem;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
  display: inline-block;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
}

.RichEditor-activeButton {
  color: #5890ff;
}


.draftjs-bhe_link {
  color: #3b5998;
  text-decoration: 'underline';
}

.modal-gallery {
  overflow: hidden;
  height: 80vh;
  width: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  background: white;
  border: solid #d0d0d0 2px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.09);
  padding: 10px;
  figure {
    width: 33.3333%;
    float: left;
    margin: 0;
    height: 210px;
    overflow: hidden;
    position: relative;
    background-color: black;
    cursor: pointer;
    img {
      position: absolute;
      border: 0;
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.87);
  left: 0;
  top: 0;
  z-index: 98;
}

input[type="text"] {
  display:block;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px 10px;
  outline: none;
}

.close-button-overlay {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 99;
  border: none;
  font-size: 2rem;
  background: transparent;
  outline: none;
}

.warn {
  display: block;
  background: #bd4f4f;
  font-size: 13px;
  padding: 10px 20px;
  color: white;
}